In [5]:
# 1. Create Pandas Dataframe
import numpy as np
import pandas as pd
from IPython.display import display

# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
display(pd.DataFrame(my_2darray))

# Take a dictionary as input to your DataFrame 
my_dict = {"a": ['1', '3'], "b": ['1', '2'], "c": ['2', '4']}
display(pd.DataFrame(my_dict))

# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
display(pd.DataFrame(my_df))

# Take a Series as input to your DataFrame
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
display(pd.DataFrame(my_series))

   0  1  2
0  1  2  3
1  4  5  6

   a  b  c
0  1  1  2
1  3  2  4

   A
0  4
1  5
2  6
3  7

                         0
Belgium           Brussels
India            New Delhi
United Kingdom      London
United States   Washington

In [14]:
df = pd.DataFrame(columns=['name','year','points'])
df

Empty DataFrame
Columns: [name, year, points]
Index: []